h1 {
    line-height: 200px;
    /*設定字體範圍高度*/
    background-color: rgb(66, 64, 64);
    color: rgb(238, 172, 5);
    text-align: center;
    font-size: 60px;
}
.hover-color:hover{
    background-color: #ccc;
}